<%# page_title= "login" %>

<%# creates a session %>

<div class=login_body>

    <h2>Welcome to your board room, the place to keep your treasured collection of boards, extreme sports gear and trips close to your heart. Login to enter your board room</h2>

    <form action="/login" method="post">

        <label for="">Username </label>
        <input name="username" type="text">
        
        <label for="">Password </label>
        <input name="password" type="password">

        <button>LOGIN</button>

    </form>

</div>