<header class="page_header">
    <h1>LOGIN</h1>
</header>  

<h2>Welcome to your board room, the place to keep your treasured collection of boards, extreme sports gear and trips close to your heart. Login to enter your board room</h2>

<%# creates a session %>

<div class="form_body login">

    

    <form action="/login" method="post">

        <label for="">Username </label>
        <input name="username" type="text">
        
        <label for="">Password </label>
        <input name="password" type="password">

        <button>LOGIN</button>

    </form>

</div>