<header class="page_header">
    <h1>SIGN UP</h1>
</header>  

<div class=
<h2>Welcome to your board room, the place to keep your treasured collection of boards, extreme sports gear and trips close to your heart. Sign up to access your boardroom and meet others with great gear.</h2>

<div class="form_body signup">
    <form action="/signup" method="post">
        <div class="form_line">
            <label for="">Username </label>
            <input name="username" type="text">
        </div>

        <div class="form_line">
            <label for="">Email </label>
            <input name="email" type="text">
        </div>   

        <div class="form_line">
            <label for="">Password </label>
            <input name="password" type="password">
        </div>

        <div class="form_line">
            <label for="">Profile Picture </label>
            <input name="avatar_url" type="text">
        </div>

        <div class="form_line">
            <button>LOGIN</button>
        </div>

    </form>

</div>