
<h2>Welcome to your board room, the place to keep your treasured collection of boards, extreme sports gear and trips close to your heart. Sign up to access your boardroom and meet others with great gear.</h2>

<div class="signup_body">
    <form action="/signup" method="post">

        <label for="">Username </label>
        <input name="username" type="text">

        <label for="">Email </label>
        <input name="email" type="text">
        
        <label for="">Password </label>
        <input name="password" type="password">

        <label for="">Profile Picture </label>
        <input name="avatar_url" type="text">

        <button>LOGIN</button>

    </form>

</div>